@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes LogoScale{
  0%{
    width: 15vw;
    height: auto;
  }
  100%{
    width: 18vw;
    height: auto;
  }
} */

.logo {
  /* animation: LogoScale 31s ease; */
  width: 12vw;
  height: auto;
}

html {
  scroll-behavior: smooth;
  /* font-family: 'Raleway', sans-serif; */
}

.bg-white2 {
  background-color: cadetblue;
}



/* 
.pc iframe {
  width: 122rem;
  height: 102rem;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  position: relative
}

.three-view {
  margin: 3rem 0;
  width: 100vw;
  height: 100vh;
} */

.rotate {
  font-weight: bold;
  transform: rotate3d(.15, -.700, 0, 15deg) rotate(1deg) scale(1);
  transition: transform .3s ease;
  box-shadow:
    2em 4em 6em -2em rgba(0, 0, 0, .5),
    1em 2em 3.5em -2.5em rgba(0, 0, 0, .5);

}

.rotate:hover {
  transform:
    rotate3d(.2, .2, .2, 0deg) rotate(3deg) translateZ(-3px) scale(1.1);

}

img {
  transition: transform .3s ease;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 7px;
}

img:hover {
  transform:
    rotate3d(.2, .2, .2, 1deg) rotate(3deg) translateZ(-3px) scale(1.1);
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(25, 74, 129, 0.65) 0px 4px 6px -1px, rgba(32, 89, 136, 0.08) 0px 1px 0px inset; */
}

.glass {
  /* background: rgba(37, 37, 37, 0.35); */
  box-shadow: 1px 1px 14px 2px rgba(93, 93, 93, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(6px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


::-webkit-scrollbar {
  width: 10px;
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a4a6bb4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(26, 74, 107, 1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 59, 84)
}

.terminal {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  max-width: 100%;
}